@media (max-width: 1200px) {
    body {
       background-color: #000000;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
    }

    .container .zelda {
        max-width: 50%;
    }
}